
#dash .divider{
    width: 200px;
    height: 2px;
    background: #1DA1F2;
    margin: 0 auto;
}

/* MAIN */

#dash main{
    width: 60%;
    min-width: 30em;
    margin: auto auto;
    background-color: #fff;
    color: red;
    border-radius: 10px;
    border: solid #1DA1F2 3px;
}

#dash .followers{
    color: #336699;
}

#dash .likes{
    color: #a52f2f;
}

#dash #div_button{
    margin: 20px;
}

#dash .buttons{
    min-width: 150px;
    padding: 10px 30px;
    background-color: #fff;
    border:solid #a52f2f 1px;
    margin: 10px 0px;
    transition-duration: 500ms;
    color: #a52f2f;
}


#dash #btn_flw:hover, #dash #btn_flw:focus,
#dash #btn_lk:hover, #dash #btn_lk:focus{
    background-color: #336699;
    color: #fff;
}

#dash #main_div{
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    width: 95%;
    min-width: 25em;
}

#dash #main a{
    text-decoration: none;
}

#dash .followers a, #dash .followers p {
    text-decoration: none;
    color : black;
}

#dash .followers a:hover{
    text-decoration: none;
    color: #1DA1F2;
}

#dash .likes a{
    text-decoration: none;
    color: #a52f2f;
}

#dash .likes a:hover{
    text-decoration: none;
    color: #a52f2f;
}

#dash .div_content{
    width: 45%;
    margin: 0;
    padding: 0;
}

#dash .row_active{
    background-color: #336699;
    color: #fff;
}

#dash .row_active a, #dash .row_active p{
    text-decoration: none;
    color: #fff;
}

#dash .row_active a:hover{
    text-decoration: none;
    color: #fff;
}

#dash .title{
    padding: 10px 30px;
    margin: 0 0 20px 0;
    border: solid #336699;
    border-radius: 3px;
}

#dash .row_content_flw{
    display: flex;
    justify-content: space-between;
    border-right: solid #1DA1F2 1px;
    border-left: solid #1DA1F2 1px;
    line-height: 35px;
}

#dash .numbers_flw{
    margin: auto 0;
    padding: 0 50px;
    width: 50px;
    border-right: solid #1DA1F2 1px;
}

#dash .links_flw{
    margin: auto auto;
}

#dash .begin_flw{
    border-top: solid #1DA1F2 1px;
}

#dash .end_flw{
    border-bottom: solid #1DA1F2 1px;
}

/* PARTIE LIKES

#dash #title_lk{
    border-color: #a52f2f;
    color: #a52f2f;
}

#dash .row_content_lks{
    display: flex;
    justify-content: space-between;
    border-right: solid #a52f2f 1px;
    border-left: solid #a52f2f 1px;
    line-height: 35px;
}

#dash .numbers_lks{
    margin: auto 0;
    padding: 0 50px;
    width: 50px;
    border-right: solid #a52f2f 1px;
}

#dash .links_lks{
    margin: auto auto;
}

#dash .begin_lks{
    border-top: solid #a52f2f 1px;
}

#dash .end_lks{
    border-bottom: solid #a52f2f 1px;
}
*/
#dash #influenceur{
    margin: 25px auto;
    width: 90%;
    min-width: 650px ;
    border: solid #1DA1F2 2px;
    padding: 0px;

}
#dash #key_numbers, #dash #key_moy{
    display: flex;
    justify-content: space-around;
    margin : 5px auto;
}

#dash .key_block{
    border: solid #1DA1F2 4px;
    border-radius: 5px;
    padding: 10px 20px;
    width : 10em;

}

#dash .key_block{
    border: solid #1DA1F2 2px;
    border-radius: 5px;
    padding: 20px 40px;
}

#dash .key_moy_block{
    width: 40%;
    margin : 20px auto;
}


#dash .key_value{
    font-size: 35px;
    margin : 10px 0 0 0 ;
}

#dash .key_name{
    font-size: 15px;
}

#dash #key_tags_div{
    margin: 20px auto;
    border: solid #1DA1F2 1px;
}
#dash #key_tags{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

#dash #key_tag_title{

}

#dash h2, #dash div {
    margin : 0;
    padding : 0;
}

#dash h2{
    font-size: 17px;
}

#dash #key_hash{
    border: solid #1DA1F2 2px;
    margin: 2em 10px;
}

#dash .key_hash_block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin : 25px
}

#dash .htg {
    flex: 1 0 21%;
    margin: 5px;
}


#dash .div_scroll {

    overflow-y: scroll;
    max-width: 400px;
    max-height: 400px;
}































