body{
    background-color: white;
    width: 60%;
    min-width: 800px;
    margin:auto;
    font-family: Arial;
}

.headerAndFooter{
    background-color : #1DA1F2;
    color : white;
    text-align: center;
    border-radius: 10px;
}

#headerApp{
    height: 22%;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 175px;
}

article{
    /*border : 1px solid black;*/
}

h1{
    width: 100%;
}

section {
    padding : 10px;
}

.aTweet div, #btn_new_tweet, #headerApp div, #BodyTweet div {
    padding: 10px;
}

#headerIcon{
    display : flex;
    justify-content: space-around;
    color : white;
}

.ic{
    color : white;
}

#divForm form {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#renderLogin, #renderSignup {
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#connexionCompte {
    margin : 20px;
}

#BodyTweet{
    border : 2px solid #1DA1F2;
    background-color: white;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    border-radius: 10px;

}

.title{
    font-size: 28px;
}

#pages{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.btn_pages{
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(233, 233, 233, 0.72);
    color: #1da1f2;
}

#active_btn_page{
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #1DA1F2;
    color: white;
}


#btn_new_tweet{
    background-color: #1DA1F2;
}

.aTweet{
    background-color: #e9e9e9;
    width : 80%;
    border-radius: 10px;

}

.aTweet, #describeAuthor {
    margin : 10px auto;
}

#creerCompteForm{
    margin : 20px auto 10px auto;
}

a{
    color : black;
    text-decoration: none;
}

.hashtags{
    color : #305185;
    text-decoration: underline;
}

.dateAndAuthor{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding: 0;
}
/*
#describeAuthor div{
    margin : 5px auto;
}*/

.footer{
    display : flex;
    flex-direction: row;
    justify-content: center;
}

#tweetOptions{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}

#tweetOptions p, .icTweetOptions{
    padding: 0;
    margin: 0;
    color : #1DA1F2;
}

hr{
    margin: 0;
}

.showError{
    color : #98b0c8;
}